## Include
include README.md
recursive-include compiler *.py *.tl *.tsv *.txt

## Exclude
prune pyrogram/errors/exceptions
prune pyrogram/raw/functions
prune pyrogram/raw/types
prune pyrogram/raw/base
exclude pyrogram/raw/all.py
